[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
pymongo = "*"
flask-cors = "*"
python-dotenv = "*"
opencv-python = "==3.4.18.65"
requests = "*"
pillow = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "npx nodemon --ignore buffer/ --exec FLASK_ENV=development python3 src/app.py"
