<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thomas-lowry/figma-plugin-ds/dist/figma-plugin-ds.css" />

<text style="font-family:sans-serif; font-size: 14; font-weight: bold; margin-left:15; color:#0d99ff">Conversion
    completed!</text>
<br /><text style="font-family:sans-serif; font-size: 14; font-weight: bold; margin-left:15; color:#54595e">Try
    automated
    features for next steps</text>


<div style="display: flex; flex-direction: row; justify-content: left; margin-left:15">
    <!--사진 묶음-->
    <div style="display: flex; flex-direction: column; justify-content: left; margin-left:15">
        <rectangle style="color:#0d99ff; width:40; height:40; background-color: #54595e;">1</rectangle>
        <rectangle style="color:#0d99ff; width:40; height:40; background-color: #54595e;">2</rectangle>
        <rectangle style="color:#0d99ff; width:40; height:40; background-color: #54595e;">3</rectangle>
    </div>


    <!--텍스트 묶음-->
    <div style="display: flex; flex-direction: column; justify-content: left; margin-left:15">
        <div>
            <div style="font-family:sans-serif; font-size: 14; font-weight: 400; margin-left:15; color:#54595e">Shake!
            </div>
            <br /><text style="font-family:sans-serif; font-size: 10; font-weight: 100; margin-left:15; color:#c2c2c2">
                give delicate iteration to your result file</text>
        </div>
        <div>
            <div style="font-family:sans-serif; font-size: 14; font-weight: 400; margin-left:15; color:#54595e">
                Image Recommendation System</div>
            <br /><text style="font-family:sans-serif; font-size: 10; font-weight: 100; margin-left:15; color:#c2c2c2">
                complete the design work with best images</text>
        </div>
        <div>
            <div style="font-family:sans-serif; font-size: 14; font-weight: 400; margin-left:15; color:#54595e">
                Auto Layout Fixer</div>
            <br /><text style="font-family:sans-serif; font-size: 10; font-weight: 100; margin-left:15; color:#c2c2c2">
                friendly UI guide for buzy designers</text>
        </div>
    </div>


    <!--버튼 묶음-->
    <div style="display: flex; flex-direction: column; justify-content: left; margin-left:15">
        <div>
            <button id="discover2" class='button button--primary' style="margin-left: 5"> Discover </button>
        </div>
        <div>
            <button id="discover3" class='button button--primary' style="margin-left: 5"> Discover </button>
        </div>
        <div>
            <button id="discover1" class='button button--primary' style="margin-left: 5"> Discover </button>
        </div>
    </div>
</div>