<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/thomas-lowry/figma-plugin-ds/dist/figma-plugin-ds.css"
/>

<div style="margin-left: 30; margin-top: 10; margin-bottom: 3">
  <div style="margin-bottom: 10">
    <text
      style="
        font-family: inter;
        font-size: 20;
        font-weight: bold;
        color: #0d99ff;
      "
      >Conversion completed!</text
    >
  </div>
  <hr
    style="
      border-color: #dfdfdf;
      border-top: 0.5px;
      /* border: 0; */
      width: 387px;
      margin-left: -2px;
    "
  />
  <div style="margin-bottom: 20">
    <text
      style="
        font-family: inter;
        font-size: 16;
        font-weight: bold;
        color: #54595e;
      "
      >Try automated features for next steps</text
    >
  </div>
</div>

<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 15;
  "
>
  <!--사진 묶음-->
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 15;
    "
  >
    <img
      src="https://postfiles.pstatic.net/MjAyMzA1MzBfMjQ5/MDAxNjg1NDMxODYyNTg0.lGSkMgaCPGjGpxQ6w8vF_6p6PzOJVAYnDlSjs-ap1nEg.NwD9whb88CcqFn1ZJI7hyR4lMwJCvLF2bZ2RvRWpj84g.PNG.hi06258/Shake.png?type=w966"
      alt="Shake!"
      style="width: 40; height: 40; margin-bottom: 10"
    />
    <img
      src="https://postfiles.pstatic.net/MjAyMzA1MzBfOTYg/MDAxNjg1NDMxODYyNTgy.1WyP3PCFManz7S1lA75p3njXeInLqfHoQlDnPBoYYBog.zCVvblrSfqqY7_aREXY4q4-KtowLK2scpHG2lR00Ntwg.PNG.hi06258/image_recommender.png?type=w966"
      alt="Image Recommender"
      style="width: 40; height: 40; margin-bottom: 10"
    />
    <img
      src="https://postfiles.pstatic.net/MjAyMzA1MzBfMTYw/MDAxNjg1NDMxODYyNTgz.DG2mTKRoZXs8vkAY8czLi3Y3gz5aUHOYAvY7BFDDbZ8g.DBEgMxOcXUKXzFtfGWG2QpupvL-W9h2eNBo-uRwcqnQg.PNG.hi06258/auto_layout_fixer.png?type=w966"
      alt="Auto Layout Fixer"
      style="width: 40; height: 40; margin-bottom: 10"
    />
  </div>

  <!--텍스트 묶음-->
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 15;
    "
  >
    <div style="margin-bottom: 14">
      <div style="margin-bottom: 5">
        <text
          style="
            font-family: inter;
            font-size: 12;
            font-weight: 500;
            color: #54595e;
          "
          >Shake!
        </text>
      </div>
      <div style="margin-bottom: 5">
        <text
          style="
            font-family: inter;
            font-size: 10;
            font-weight: 300;
            color: #8f8f8f;
          "
        >
          give delicate iteration to your result file</text
        >
      </div>
    </div>

    <div style="margin-bottom: 14; margin-right: 30">
      <div style="margin-bottom: 5">
        <text
          style="
            font-family: inter;
            font-size: 12;
            font-weight: 500;
            color: #54595e;
          "
        >
          Image Recommender
        </text>
      </div>
      <div style="margin-bottom: 5">
        <text
          style="
            font-family: inter;
            font-size: 10;
            font-weight: 300;
            color: #8f8f8f;
          "
        >
          complete the design work with best images
        </text>
      </div>
    </div>
    <div style="margin-bottom: 14">
      <div style="margin-bottom: 5">
        <text
          style="
            font-family: inter;
            font-size: 12;
            font-weight: 500;
            color: #54595e;
          "
        >
          Auto Layout Fixer
        </text>
      </div>
      <div>
        <text
          style="
            font-family: inter;
            font-size: 10;
            font-weight: 300;
            color: #8f8f8f;
          "
        >
          friendly UI guide for busy designers
        </text>
      </div>
    </div>
  </div>

  <!--버튼 묶음-->
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 15;
    "
  >
    <div style="margin-bottom: 20">
      <a
        id="discover-shake"
        class="button button--primary"
        style="margin-left: 5"
        href="https://s2dlab.framer.website/shake"
        target="_blank"
      >
        Discover
      </a>
    </div>
    <div style="margin-bottom: 20">
      <a
        id="discover-image-recommander"
        class="button button--primary"
        style="margin-left: 5"
        href="https://s2dlab.framer.website/imageRecommender"
        target="_blank"
      >
        Discover
      </a>
    </div>
    <div>
      <a
        id="discover-auto-layout"
        class="button button--primary"
        style="margin-left: 5"
        href="https://s2dlab.framer.website/autoLayoutFixer"
        target="_blank"
      >
        Discover
      </a>
    </div>
  </div>
</div>
