<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thomas-lowry/figma-plugin-ds/dist/figma-plugin-ds.css" />

<div
  style="font-family:inter; font-size: 12; font-weight: medium; color:#8f8f8f; margin-left: 20; margin-bottom: 12; margin-top: 20; width:380px">
  Is there any inconvenience during the process?
  <br />Kindly report your cancellation reason to help us improve.
</div>

<div style="display: flex; flex-direction: row;">
  <div style="margin-left: 20; width: 225px">
    <select id="reason" style="font-family:inter; font-size:12px; font-weight: medium;  height: 32px; 
    padding: 5px 10px 5px 10px; border: 0.8px solid #707070; border-radius:5px; outline-width: 0.8;
         background:#fff; color: #707070; outline-color: #707070">
      <option disabled selected>Cancellation Reason</option>
      <option value="2">Just testing</option>
      <option value="3">Don't need it now</option>
      <option value="4">Difficulty using the plugin</option>
      <option value="5">Lack of desired features</option>
      <option value="6">Poor customer support</option>
      <option value="7">Security concerns</option>
      <option value="8">Too time-consuming</option>
      <option value="9">Unsatisfactory product quality</option>
      <option value="10">Found a better alternative</option>
    </select>
  </div>
  <div>
    <button id="submit" class='button button--primary'>Submit</button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/thomas-lowry/figma-plugin-ds/dist/iife/figma-plugin-ds.js"></script>
<script>
  selectMenu.init();
</script>

<script>
  const reasonInputEl = document.getElementById("reason");

  document.getElementById("submit").onclick = () => {
    const userData = { reason: reasonInputEl.value };
    parent.postMessage(
      { pluginMessage: { type: "submit-and-close", userData } },
      "*"
    );
  };
</script>
