<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/thomas-lowry/figma-plugin-ds/dist/figma-plugin-ds.css"
    />
  </head>
  <body>
    <div style="padding: 10px; width: 100%; height: 100%">
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: right;
          gap: 16px;
        "
      >
        <div style="width: 100%">
          <div class="input">
            <div class="label" style="margin: -4px; color: black">
              ✉️ 이메일
            </div>
            <input
              id="email"
              type="input"
              class="input__field"
              placeholder="screenshot@to.design"
            />
          </div>

          <div class="input">
            <div
              class="label"
              style="margin: -4px; margin-top: 4px; color: black"
            >
              🗝️ 인증 키
            </div>
            <input
              id="auth_key"
              type="input"
              class="input__field"
              placeholder="인증 키를 입력해주세요."
            />
          </div>
        </div>

        <button
          id="convert_button"
          class="button button--primary"
          style="
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          "
        >
          Convert
        </button>
      </div>
    </div>

    <script>
      const emailEl = document.getElementById("email");
      const authKeyEl = document.getElementById("auth_key");

      document.getElementById("convert_button").onclick = () => {
        const validateEmail = (email) => {
          return email.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          );
        };
        if (validateEmail(emailEl.value) === null) {
          parent.postMessage(
            {
              pluginMessage: {
                type: "notify",
                message: "이메일 형식이 올바르지 않습니다.",
              },
            },
            "*"
          );
          return;
        }

        if (!authKeyEl.value) {
          parent.postMessage(
            {
              pluginMessage: {
                type: "notify",
                message: "키를 입력해주세요.",
              },
            },
            "*"
          );

          return;
        }

        const userData = {
          email: emailEl.value,
          authKey: authKeyEl.value,
        };
        parent.postMessage(
          { pluginMessage: { type: "convert", userData } },
          "*"
        );
      };

      onmessage = (event) => {
        const { pluginMessage } = event.data;
        emailEl.value = pluginMessage.email;
        authKeyEl.value = pluginMessage.authKey;
      };
    </script>
  </body>
</html>
