<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/thomas-lowry/figma-plugin-ds/dist/figma-plugin-ds.css"
/>

<div style="display: flex; flex-direction: column; justify-content: left">
  <div id="loading">loading image here</div>
  <button id="move-on" style="display: none">loading image here</button>
</div>
<div style="display: flex; flex-direction: column; justify-content: left">
  <ol class="type type--large" style="width: 90%">
    <li>How do you use this plugin?</li>
    <input
      id="plugin-usage"
      type="input"
      class="input__field"
      placeholder="Plugin Usage"
      style="width: 200"
    />
    <li>How much does it take to do works above?</li>
    <input
      id="work-term"
      type="input"
      class="input__field"
      placeholder="Work Term"
      style="width: 200"
    />
  </ol>
</div>

<script>
  let timeout = false;
  let surveying = false;
  let finished = false;

  const pluginUsageInputEl = document.getElementById("plugin-usage");
  const workTermInputEl = document.getElementById("work-term");

  const loadingEl = document.getElementById("loading");
  const moveOnButtonEl = document.getElementById("move-on");

  const handleOnChange = (event) => {
    surveying = true;

    pluginUsageInputEl.removeEventListener("click", handleOnChange);
    workTermInputEl.removeEventListener("click", handleOnChange);
  };

  pluginUsageInputEl.addEventListener("click", handleOnChange);
  workTermInputEl.addEventListener("click", handleOnChange);

  const moveOn = () => {
    parent.postMessage({ pluginMessage: { type: "complete-converting" } }, "*");
  };

  const revealButton = () => {
    loadingEl.style.display = "none";
    moveOnButtonEl.style.display = "block";
  };

  setTimeout(() => {
    timeout = true;
    if (finished && !surveying) {
      moveOn();
    } else if (finished && surveying) {
      revealButton();
    }
  }, 3000);

  onmessage = (event) => {
    finished = true;
    if (timeout && !surveying) {
      moveOn();
    } else if (timeout && surveying) {
      revealButton();
    }
  };

  moveOnButtonEl.onclick = () => {
    const userData = {
      pluginUsage: pluginUsageInputEl.value,
      workTerm: workTermInputEl.value,
    };

    parent.postMessage(
      { pluginMessage: { type: "send-user-data", userData } },
      "*"
    );
    parent.postMessage({ pluginMessage: { type: "complete-converting" } }, "*");
  };
</script>
